@import 'normalize.css';

:root {
    --dark-green: #0a3b32;
    --main-color: #e87722;

    --black: #000;
    --white: #fff;
    --text-color: #0a3b32;
    --background-gray: #dbdfe1;
    --background-color: #dbdfe1;
    --font-family: FWDCircularWeb, FWDCircularVietWeb, sans-serif;

    --height-header: 68px;
    --border-radius: 4px;
    --border-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    outline: none;
    border: none;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
}

// Fonts emmbeded
@font-face {
    font-family: FWDCircularWeb;
    src: url('../../assets/fonts/FWDCircularWeb-Bold.d03e103c.woff2');
    font-weight: 700;
}

@font-face {
    font-family: FWDCircularWeb;
    src: url('../../assets/fonts/FWDCircularWeb-Book.d91e43e3.woff2');
    font-weight: 400;
}

@font-face {
    font-family: FWDCircularWeb;
    src: url('../../assets/fonts/FWDCircularWeb-Medium.b45786fe.woff2');
    font-weight: 500;
}

.option {
    padding: 0 30px 0 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    background: #e5e5e5;
    border: 1px solid #ccc;
    position: absolute;
    top: 0;
    width: 100%;
    pointer-events: none;
    order: 2;
    z-index: 1;
    transition: background 0.4s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

.option:hover {
    background: #ff595c;
}

.select:focus .option {
    position: relative;
    pointer-events: all;
}

input {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input:checked + label {
    order: 1;
    z-index: 2;
    background: #ff595c;
    border-top: none;
    position: relative;
    color: white;
}

input:checked + label:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
    position: absolute;
    right: 10px;
    top: calc(50% - 2.5px);
    pointer-events: none;
    z-index: 3;
}

input:checked + label:before {
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    content: '';
    background: #050505;
}

canvas {
}

.more {
    color: var(--main-color);
}
